@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-foreground: 0 0% 98%;
    --foreground: 0 0% 20%;

    --muted: 210 15% 94.1%;
    --muted-foreground: 0, 0%, 65%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 0 0% 100%;
    --input: 0% 100% 0;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 0, 0%, 15%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0, 0%, 35%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --inputbg: 0 0% 100%;

    --gr-one: 0 0% 100%;
    --gr-two: 0 0% 97%;
    --gr-thr: 0 0% 95%;

    --custom-color-one: 24, 92%, 79%;
    --custom-color-two: 24, 100%, 74%;
    --custom-color-thr: 24, 100%, 70%;
    --custom-color-fou: 0, 0%, 15%;
    --custom-accent: 24, 100%, 50%;
    --custom-accent-two: 24, 100%, 85%;

    /* --custom-color-one: 187, 92%, 69%;
    --custom-color-two: 171, 77%, 64%;
    --custom-color-thr: 156, 72%, 67%;
    --custom-color-fou: 0, 0%, 15%;
    --custom-accent: 171, 100%, 40%; */
  }

  .dark {
    --background: 240, 5%, 16%;
    --background-foreground: 240 5% 20%;
    --foreground: 213 31% 91%;

    --muted: 240, 4%, 36%;
    --muted-foreground: 0, 0%, 54%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 131 15% 5%;
    --input: 210 15% 22%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 0, 0%, 75%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 350, 89%, 60%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --inputbg: 210 15% 22%;

    --gr-one: 240, 5%, 16%;
    --gr-two: 240, 5%, 19%;
    --gr-thr: 240, 5%, 22%;

    --custom-color-one: 25, 92%, 69%;
    --custom-color-two: 24, 100%, 64%;
    --custom-color-thr: 24, 100%, 60%;
    --custom-color-fou: 0, 0%, 20%;
    --custom-accent: 24, 100%, 50%;
    --custom-accent-two: 24, 100%, 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    geistsans: --font-geist-sans;
  }
}
